{
    DefaultProperties =  {
        "MACOSX_DEPLOYMENT_TARGET" = "10.4";
    };
    CustomProperties = {
	"KERNEL_EXTENSION_HEADER_SEARCH_PATHS" = "$(KERNEL_FRAMEWORK)/PrivateHeaders $(KERNEL_FRAMEWORK_HEADERS)";
    }; 
    name = "Mac OS X 10.4 (Universal)"; 
    supportsZeroLink = YES;
    buildSettings =  {
        "MACOSX_DEPLOYMENT_TARGET" = "10.4"; 
    };
}
